.task {
  display: flex;
  justify-content: center;

  &__card {
    @include inter-font;

    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 343px;
    box-shadow: 2.81px 0 4.21px 0 #cacaca;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    background-color: $color-secondary-purple;
    gap: 40px;

    @include tablet-xl {
      max-width: 375px;
      font-size: 18px;
    }

    @include desktop-xl {
      padding: 22px;
      max-width: 550px;
      font-size: 26px;
      gap: 56px;
    }
  }

  &__label {
    color: $color-neutral-500;
  }

  &__text {
    color: $color-neutral-700;
  }
}
