.chelzoo-testing-strategy {
  position: relative;
  padding: 48px 0;
  color: $color-black;
  background-color: $color-off-white;

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__content {
    padding: 20px;

    @include desktop-xl {
      padding: 28px;
    }
  }

  &__list {
    margin-bottom: 12px;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
      max-width: 704px;
      gap: 12px;
    }

    @include tablet-xl {
      margin-bottom: 20px;
      max-width: 896px;
      gap: 20px;
    }

    @include desktop {
      margin-bottom: 16px;
      max-width: 1238px;
    }

    @include desktop-xl {
      margin-bottom: 20px;
      max-width: 1744px;
      gap: 28px;
    }
  }

  &__title {
    @include chelzoo-h2;

    margin-bottom: 12px;

    @include tablet {
      text-align: center;
    }

    @include tablet-xl {
      margin-bottom: 20px;
    }

    @include desktop-xl {
      margin-bottom: 28px;
    }
  }

  &__description {
    @include chelzoo-body;

    margin-bottom: 32px;
    color: $color-grey-700-redesign;

    @include tablet {
      margin: 0 auto 32px;
      max-width: 90%;
      text-align: center;
    }

    @include tablet-xl {
      margin-bottom: 64px;
      max-width: 74%;
    }

    @include desktop {
      margin-bottom: 64px;
      max-width: 55%;
    }

    @include desktop-xl {
      margin-bottom: 88px;
    }
  }

  &__item {
    border-radius: 24px;
    background-color: $color-white;

    & + & {
      margin-top: 12px;

      @include tablet {
        margin-top: 0;
      }
    }

    @include tablet {
      width: 33%;
      max-width: 224px;
    }

    @include tablet-xl {
      max-width: 280px;
    }

    @include desktop {
      max-width: 330px;
    }

    @include desktop-xl {
      max-width: 468px;
    }
  }

  &__label {
    @include chelzoo-body;

    display: inline-block;
    margin-bottom: 24px;
    border-radius: 30px;
    padding: 4px 12px;
    background-color: $color-pastel-pink;

    @include desktop-xl {
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    @include chelzoo-h4;

    margin-bottom: 8px;
  }

  &__text {
    @include chelzoo-body;
  }

  &__link {
    @include chelzoo-link;

    align-self: center;
    text-align: center;

    // To prevent the screen reader from reading the link twice,
    // the arrow had to be removed from the react markup in css
    &::after {
      content: " →";
    }

    &:hover,
    &:focus-visible {
      text-decoration: none;
    }

    @include tablet {
      max-width: 50%;
    }

    @include tablet-xl {
      max-width: 40%;
    }

    @include desktop {
      max-width: 30%;
    }
  }

  @include tablet-xl {
    padding: 64px 0;
  }

  @include desktop-xl {
    padding: 88px 0;
  }
}
