.task {
  display: flex;
  justify-content: center;

  &__card {
    @include chelzoo-body;

    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 343px;
    box-shadow: 2.81px 0 4.21px 0 $color-shadow;
    background-color: $color-secondary-purple;
    gap: 40px;

    @include tablet-xl {
      max-width: 375px;
    }

    @include desktop-xl {
      padding: 22px;
      max-width: 550px;
      gap: 56px;
    }
  }

  &__label {
    color: $color-grey-500-redesign;
  }

  &__text {
    color: $color-grey-700-redesign;
  }
}
