.magazine-pdf-view {
  --header-height: 80px;
  --arrow-space: 34px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--header-height) var(--arrow-space);
    background-color: $color-grey-800-redesign;
  }

  &__viewport-sentinel {
    position: absolute;
    left: 0;
    top: 0;
    padding: var(--header-height) 0;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    visibility: hidden;
    pointer-events: none;
  }

  &__slider {
    touch-action: manipulation !important;
  }

  @include tablet-xl {
    --arrow-space: 44px;
  }

  @include desktop-xl {
    --header-height: 104px;
  }
}

.slick-slide {
  line-height: 0;
}

.react-pdf__Page {
  background-color: $color-grey-800-redesign !important;
}

.react-pdf__Page__canvas {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}
