.magazine-pdf-counter {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  color: $color-white;

  @include desktop-xl {
    font-size: 16px;
  }
}
