.chelzoo-links {
  color: $color-white;
  background-color: $color-black;

  &__wrapper {
    margin: 0 auto;
    padding: 48px 16px;

    @include desktop {
      padding: 64px 16px;
    }

    @include desktop-xl {
      margin-left: 24px;
      padding: 88px 24px;
      padding-left: max(24px, calc((100vw - 1920px) / 2));
    }
  }

  &__title {
    @include chelzoo-h4;

    position: relative;
    margin-bottom: 32px;
    padding-left: 19px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background-color: $color-red;

      @include tablet-xl {
        width: 16px;
        height: 16px;
      }

      @include desktop-xl {
        top: 6px;
        width: 22px;
        height: 22px;
      }
    }

    @include tablet-xl {
      padding-left: 24px;
    }

    @include desktop-xl {
      margin-bottom: 44px;
      padding-left: 32px;
    }
  }

  &__list {
    display: flex;
    overflow-x: scroll;
    padding-right: 16px;
    gap: 12px;
    scrollbar-width: none;

    @include desktop-xl {
      gap: 16px;
    }
  }

  &__card {
    flex-shrink: 0;
    width: 284px;

    &:first-child {
      width: 123px;

      @include tablet-xl {
        width: 204px;
      }

      @include desktop-xl {
        width: 288px;
      }
    }

    &:nth-child(3) {
      width: 123px;

      @include tablet-xl {
        width: 204px;
      }

      @include desktop-xl {
        width: 288px;
      }
    }

    @include tablet-xl {
      width: 473px;
    }

    @include desktop-xl {
      width: 668px;
    }
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    border-radius: 12px;
    height: 156px;

    img {
      object-fit: cover;
    }

    @include tablet-xl {
      margin-bottom: 12px;
      border-radius: 24px;
      height: 260px;
    }

    @include desktop {
      border-radius: 32px;
    }

    @include desktop-xl {
      height: 368px;
    }
  }

  &__link {
    @include chelzoo-caption;

    display: -webkit-box;
    overflow: hidden;
    padding-right: 8px;
    text-decoration-color: transparent;
    color: $color-white;
    transition: text-decoration-color 0.3s;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }

    @include tablet-xl {
      -webkit-line-clamp: 1;
    }

    @include desktop-xl {
      -webkit-line-clamp: 2;
    }
  }
}
