.chelzoo-dev-design {
  position: relative;
  padding: 48px 0;
  color: $color-black;
  background-color: $color-white;

  &__wrapper {
    @include tablet {
      padding: 0 32px;
    }

    @include tablet-xl {
      padding: 0 64px;
    }

    @include desktop {
      max-width: 1366px;
    }

    @include desktop-xl {
      padding: 0 88px;
      max-width: 1920px;
    }
  }

  &__title {
    @include chelzoo-h2;

    margin-bottom: 12px;

    @include tablet-xl {
      margin-bottom: 20px;
      text-align: center;
    }

    @include desktop-xl {
      margin-bottom: 28px;
    }
  }

  &__description {
    @include chelzoo-body;

    margin-bottom: 32px;
    color: $color-grey-500-redesign;

    @include tablet {
      max-width: 80%;
    }

    @include tablet-xl {
      margin-right: auto;
      margin-bottom: 64px;
      margin-left: auto;
      text-align: center;
    }

    @include desktop {
      max-width: 53%;
    }

    @include desktop-xl {
      margin-bottom: 90px;
    }
  }
}
