name: Run Playwright tests

on: 
  push:
    branches:
      - feature/*

jobs:

  run-playwright-tests:
    runs-on: ubuntu-24.04
    needs: push_to_registry

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.18.0]

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparce-checkout: 'cms'

      - name: ls
        run: ls