name: Publish Docker Image

on:
  push:
    branches:
      - master
      - feature/*

jobs:
  paths-filter:
    runs-on: ubuntu-24.04
    outputs:
      db-backupper: ${{ steps.filter.outputs.db-backupper }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check which files was changed
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            db-backupper:
              - 'db-backupper/**'

  build_db_backupper:
    needs: paths-filter
    if: needs.paths-filter.outputs.db-backupper == 'true'
    uses: TourmalineCore/home-github-workflows/.github/workflows/docker-build-and-push.yml@feature/add_context_and_image_name_for_build_workflow
    with:
      context: ./db-backupper
      image-name: home-db-backupper
    # without this it cannot login to the registry
    secrets: inherit 