name: Publish Env Synchronizer Docker Image

on:
  push:
    branches:
      - feature/**
    paths:
      - 'env-synchronizer/**'
  workflow_call:

jobs:
  push_to_registry:
    uses: TourmalineCore/home/.github/workflows/.reusable-docker-build-and-push.yml@master
    with:
      context: ./env-synchronizer
      image-name: home-env-synchronizer
    # without this it cannot login to the registry
    secrets: inherit
