name: Publish Docker Image

on:
  push:
    branches:
      - feature/**
    paths:
      - 'env-synchronizer/**'
  workflow_call:

jobs:
  push_to_registry:
    uses: TourmalineCore/home-github-workflows/.github/workflows/docker-build-and-push.yml@feature/add_context_and_image_name_for_build_workflow
    with:
      context: ./env-synchronizer
      image-name: home-env-synchronizer
    # without this it cannot login to the registry
    secrets: inherit