name: Publish UI Docker Image For Prod Env

on:
  push:
    branches:
      - feature/*
    paths:
      - 'ui/**'
  # to allow to wait for a docker image to be published to proceed in another workflow
  workflow_call:

jobs:
  push_to_registry:
    uses: ./.github/workflows/.reusable-docker-build-and-push.yml
    with:
      context: ./ui
      image-name: home-ui
      # Build-args used to define variables that will be used in image
      build-args: |
        CDN_ENABLED=true
        CDN_DOMAIN=cdn.tourmalinecore.com
        CORS_ORIGIN=https://tourmalinecore.com
        ENABLE_SEO_INDEXING=true
    # without this it cannot login to the registry
    secrets: inherit